.searchBar {
  $breakpoint: 535px;

  input {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    outline: none;

    &:focus {
      border-color: #0074D9;
    }

    // Apply styles for screens smaller than the breakpoint
    @media (max-width: $breakpoint) {
      margin-bottom: 0.5rem;
    }
  }
}